* {
    margin: 0 24px;
    padding: 14px 0;

}


.cabecalho {
    background-color: #FFFFFF;
    color: #00007E;
    display:flex;
    justify-content: space-around;
    padding: 16x 0;
    font-size: 26px;

}

.cabecalho-imagem {
    width: 18%;

}

.cabecalho-lista-item{
    display: inline-block;

}