* {
    margin: 0 24px;
    padding: 14px 0;

}


.cabecalho {
    background-color: #FFFFFF;
    color: #00007E;
    display:flex;
    justify-content: space-around;
    padding: 16x 0;
    font-size: 26px;

}

.cabecalho-imagem {
    width: 18%;

}

.cabecalho-lista-item{
    display: inline-block;

}

.escola {
    background-image: linear-gradient(#1975C2,#61D4F6);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;

}

.escola-conteudo{
    width: 35%
}

.escola-imagem{
    width: 35%;
}